<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dnp.bulidingmanage.dao.PermissionMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.dnp.bulidingmanage.model.Permission">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="parent_id" property="parentId" />
		<result column="per_url" property="perUrl" />
		<result column="per_key" property="perKey" />
		<result column="type" property="type" />
	</resultMap>

</mapper>
